extends _layouts/_default

block vars
    - var page_title = "Home page"
    - var page_class = "top"

block content

  .container
    .row
      .medium-12
        h1
          | テストページ
        p
          | テスト
