extends ../_layouts/_under-page

block vars
    - var page_title = "下層ページ"
    - var page_class = "top"

block content
  .l-content
    main.l-main
      h1
        | 下層ページ
      p
        | これはサンプルテキストです。
